<footer>
    <span data-pl="Początek generowania">Generation start</span>: {{ startTime
    }}. <span data-pl="Zajęło">Took</span> {{ generationSeconds }}
    <span data-pl="sekund">seconds</span>.
    <span data-pl="Źródło danych">Data source</span>:
    <a href="https://osm.org/copyright"
        >©
        <span data-pl="autorzy OpenStreetMap"
            >OpenStreetMap contributors</span
        ></a
    >. <span data-pl="Code at">Kod na</span>
    <a href="https://github.com/starsep/StreetCompleteStats" data-pl="GitHubie"
        >GitHub</a
    >.
    <span data-pl="Proszę tam zgłaszać błędy">Please report issues there</span>.
</footer>
<script>
    function preferredLanguage() {
        for (const lang of navigator.languages) {
            if (lang.startsWith("en")) {
                return "en";
            }
            if (lang.startsWith("pl")) {
                return "pl";
            }
        }
        return "en";
    }
    function translateContent() {
        const lang = preferredLanguage();
        document.documentElement.lang = lang;
        if (lang === "pl") {
            document.querySelectorAll("[data-pl]").forEach((element) => {
                element.textContent = element.getAttribute("data-pl");
            });
        }
    }
    translateContent();
</script>
