<!doctype html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <h1 data-pl="Zadania">Quests</h1>
        <span>
            {% for quest in quests %}
            <a href="{{ quest.name }}.html">{% include "questIcon.html" %}</a>
            {% endfor %}
        </span>

        <h1 data-pl="Miasta">Cities</h1>
        <span>
            {% for city in cities %}
            <a href="{{ city.slug }}.html">{{ city.name }}</a>
            {% endfor %}
        </span>
        {% include "footer.html" %}
    </body>
</html>
