<!DOCTYPE html>
<html lang="pl">
{% include "head.html" %}
<body>
<h1>
    {% include "questIcon.html" %}&nbsp;{{ quest.name }}
</h1>
<table>
    <thead>
    <td>Nazwa</td>
    <td>Procent</td>
    <td>Rozwiązane</td>
    <td>Wszyskie</td>
    </thead>
    {% for questName, questStats in result %}
    {% set quest = quests[questName] %}
    <tr>
        <td>{{ questName }}</td>
        <td>{{ "%d"|format(questStats.ratio * 100) }}%</td>
        <td>{{ questStats.solved }}</td>
        <td>{{ questStats.all }}</td>
    </tr>
    {% endfor %}
</table>
{% include "footer.html" %}
</body>
</html>